<form #authForm="ngForm">
  <!-- Champ Email -->
  <div class="form-group">
    <label for="email">Email:</label>
    <input 
      #emailInput="ngModel" required ngModel  name="email"  type="email" id="email" class="form-control"pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"placeholder="exemple@email.com"
    />
    
    <!-- Messages d'erreur pour l'email -->
    @if (emailInput.invalid && emailInput.touched) {
      <div class="alert alert-danger">
        @if (emailInput.errors?.['required']) {
          L'email est un champ obligatoire
        }
        @if (emailInput.errors?.['pattern']) {
          Veuillez entrer une adresse email valide
        }
      </div>
    }
  </div>

  <!-- Champ Password -->
  <div class="form-group">
    <label for="password">Password:</label>
    <input  #passwordInput="ngModel" required ngModel name="password"  type="password" id="password" class="form-control" minlength="4" placeholder="Au moins 4 caractères"
    />
    
    <!-- Messages d'erreur pour le mot de passe -->
    @if (passwordInput.invalid && passwordInput.touched) {
      <div class="alert alert-danger">
        @if (passwordInput.errors?.['required']) {
          Le mot de passe est un champ obligatoire
        }
        @if (passwordInput.errors?.['minlength']) {
          Le mot de passe doit avoir au moins 4 caractères
        }
      </div>
    }
  </div>

  <!-- Bouton Envoyer -->
  <button 
    (click)="processForm(authForm)" 
    [disabled]="authForm.invalid"
    class="btn btn-primary"
  >
    Envoyer
  </button>
</form>